#Local environment
.env
dist/
.vscode

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
.npm
lib-cov
.nyc_output
coverage

.node_repl_history
logs
*.log
.DS_Store
npm-debug.log*
pids
*.pid
*.seed
.lock-wscript
